<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
        <h3>商品編集</h3>
    </div>
  </div>

  <div class= "row">
    <div class= "col-md06">
      <%= image_tag @item.image, width: "60%", format: "jpeg", fallback: "no_image.jpeg", class:"lb"%>
    </div>
    <div class= "cl-md06">
      <table class= "table">
        <tr>
          <th>商品名</th>
        　<td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td><%=@item.add_tax_sales_price %>(<%= @item.price %>)</td>
      </table>

    </div>
  </div>