<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
   <div class=class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが,<br>
        購入には会員登録が必要になります。
        </h5>
     </div>
   </div>

    <h2>新着商品</h2>
   <div class= "row">
    <% @items.each do |item| %>
   <div class="col-3">
    <div>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image %>
      <% end %>
   <br>
    <div><p><%= item.name %></p>
       <p>¥<%= item.price %></p>
    </div>
    </div>
    </div>
    <% end %>
  </div>
<p class= "float-right"><%= link_to "全ての商品を見る", items_path %></p>
</div>