<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <div class = "pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
        <h4><%= @customer.last_name_kana + @customer.first_name_kana %>さんの会員情報編集</h4>
     </div>
  </div>
 <div class="row">
   <div class="col-sm-8 px-sm-0 offset-sm-1">
     <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
      <table>
       <p>会員ID
         <%= @customer.id %>
       </p>
       <tr>
        <div class= "field">
           <td><%= f.label :氏名%></td>
           <td><%= f.text_field :last_name %></td>
           <td><div class= "field"></td>
            <td><%= f.text_field :first_name %></td>
          </div>
        </div>
      </tr>
      <tr>
        <div class= "field">
          <td><%= f.label :フリガナ%></td>
          <td><%= f.text_field :last_name_kana %></td>
          <td><div class= "field"></td>
          <td> <%= f.text_field :first_name_kana %></td>
         </div>
       </div>
      </tr>
      <tr>
        <div class= "field">
          <td><%= f.label :郵便番号%></td>
          <td><%= f.text_field :postal_code %></td>
        </div>
      </tr>
      <tr>
        <div class= "field">
          <td><%= f.label :住所 %></td>
          <td> <%= f.text_field :address %></td>
        </div>
      </tr>
      <tr>
        <div class= "field">
          <td><%= f.label :電話番号 %></td>
          <td><%= f.text_field :telephone_number %></td>
        </div>
      </tr>
      <tr>
        <div class= "field">
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email %></td>
        </div>
      </tr>
      <tr>
        <div class= "field">
        <td><%= f.label :会員ステータス %></td>
        <td><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, '有効' %></td>
        <td><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, '退会' %></td>
        </div>
        </tr>

  <div class= "form-action" >
    <td><%= f.submit "変更を保存", class:"btn btn-success"%> </td>
  </div>
</table>

<% end %>
