<div class="container">
  <div class= "row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>注文履歴画面</h4>
    </div>
  </div>
</div>
<div class= "row">

  <div class="col-sm-10 px-sm-0 mx-auto mb-5">
   <table class="col-sm-10 px-sm-0 mx-auto mb-5">
    <thead class= "table-secondary">
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>注文詳細</th>
      </tr>
    </thead>

  <tbody>
      <% total = 0 %>
      <% @order.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S')%></td>
      <td><%= order.shipping_address%></td>
      <% order.order_details.each do |order_detail| %>
      <td><%= order_detail.item.name %></td>
      <% end %>
      <td><%= order.total_payment %>円</td>
      <td><%= link_to "表示する",order_path, :class=> "btn btn-primary" %></td>
      <% end %>
    </tr>