<h4>商品一覧(全<%= @items.count %>件)</h4>

<% @items.each do |item| %>
<div>
  <%= link_to items_path(item.id) do %>
  <%= image_tag item.get_image %>
  <% end %>
</div>

<p><%= item.name %></p>
<p>¥<%= item.price %></p>
<% end %>

<%= paginate @items %>



