商品詳細

<div>
  <%= image_tag @item.get_image %>
</div>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p>¥<%= @item.add_tax_sales_price%>(税込)</p>


<%= form_with model: @cart_item, url:cart_items_path do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10] %>

<%= f.submit "カートに入れる", class:"btn btn-primary px-4" %>
<% end %>